<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Ordr</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
<body>
  <%- include ./_partials/_navbar.ejs %>
  <main class="container">
    <ul class="menu-list"></ul>
    <a href="customers">Customer page</a>
    <a href="restaurants">Restaurant page</a>
  </main>
  <footer>

  </footer>
  <script src="./scripts/bundle.js"></script>
</body>
</html>