<!DOCTYPE html>
<html lang="en">
  <%- include ./_partials/_head.ejs %>
<body>
  <%- include ./_partials/_navbar.ejs %>
  <main class="container">
    <ul class="menu-list"></ul>
    <a href="customers">Customer page</a>
    <a href="restaurants">Restaurant page</a>
  </main>
  <footer>

  </footer>
  <script src="./javascripts/bundle.js"></script>
</body>
</html>