#logo {
  margin-left: 15px;
  margin-right: auto;
  margin-top: 15px; }

.finished {
  background-color: black !important;
  color: white !important; }

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 75px;
  background-color: #00a087; }

.container {
  width: 100%;
  margin-top: 75px;
  display: flex; }
  .container .deliver-food {
    background-color: #FFD397;
    font-size: larger;
    height: 75px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    line-height: 90px;
    text-align: center;
    vertical-align: middle;
    width: 75%; }
  .container .deliver-food:hover {
    background-color: #D82351; }
  .container .chit_container {
    align-items: stretch;
    border-radius: 40px;
    background-image: url("../images/cork_paint.jpg");
    background-repeat: repeat-y;
    margin: auto;
    margin-top: 50px;
    padding: 15px 15px 15px 15px;
    font-family: courier;
    width: 800px;
    height: 100%; }
    .container .chit_container .order_chit {
      opacity: 1;
      padding: 10px 10px 10px 10px;
      border-color: black;
      border-style: solid;
      float: left;
      margin: 10px 10px 10px 10px;
      background-image: url("../images/paper.gif"); }
      .container .chit_container .order_chit header {
        width: 100%;
        position: relative;
        left: 0px;
        top: 0px; }
    .container .chit_container .remove_chit {
      color: blue; }
    .container .chit_container .remove_chit_2 {
      color: blue; }
    .container .chit_container ul {
      padding: 0; }
      .container .chit_container ul li {
        padding: none;
        list-style-type: none; }

#page_header {
  background-color: grey;
  height: 80px;
  position: fixed; }
