<nav id="navbar__container">
  <ul class="navlist navlist--left">
    <li><a href="#">text</a></li>
  </ul>
  <div class="centerpiece__container">
    <img id="logo" src="" />
  </div>
  <ul class="navlist navlist--right">
    <li><a href="#">text</a></li>
  </ul>
</nav>