<nav id="navbar__container">

  <div class="centerpiece__container">
    <img id="logo" src="./images/logo_light.png" />
  </div>
  <div class="cart__toggle-button__container">
    <i class="cart__toggle-button fa fa-bars" aria-hidden="true"></i>
  </div>
</nav>