<div class="sidebar">
  <header class="sidebar__header">
    <h1 id="restaurant__name">Caveman Cafe</h1>
  </header>
    <section class="cart">
      <ul class="cart__list"></ul>
    </section>
    <footer class="cart__footer">
      <input id="cart__total-cost" class="cart__total-cost" type="disabled" readonly="readonly" value="Total: $0"></input>
      <button id="sidebar__submit-button" class="cart__submit-button" type="submit">Place Order</button>
    </footer>
</div>