<div class="sidebar">
  <form>
    <section class="cart">
      <ol class="cart__list"></ol>
    </section>

    <footer class="cart__footer">
      <button class="cart__submit-button" type="submit">Place Order</button>
    </footer>
  </form>
</div>