<div class="sidebar">
  <form>
    <section class="cart">
      <ul class="cart__list"></ul>
    </section>
    <footer class="cart__footer">
      <input class="cart__total-cost" type="disabled" readonly="readonly" value="$0"></input>
      <button class="cart__submit-button" type="submit">Place Order</button>
    </footer>
  </form>
</div>