.cart { /* <section> */
  position: absolute;
    top: $sidebar__header__height;
    right: 0px;
    bottom: $sidebar__footer__height;
    left: 0px;
}

.cart__list { /* <ol> */
  margin: 0px;
  padding: 0px;
}

    .cart__list--item { /* <li> */
      height: 50px;
      padding: 0px;
      background-color: #3e2d24;
      border: 0px;
      border-bottom: 1px solid black;
    }

    .cart__list--item:hover {
      background-color: #bfbfbf;
    }

    .cart__list--item--quantity { /* <input> */
      position: relative;
      float: left;
      height: 30px;
      margin: 10px 15px;
      padding: 0px 10px;
      width: 48px;
      border: 1px solid black;
    }
      .cart__list--item--quantity:focus { /* <input> */
        outline: none;
      }

    .cart__list--item--name { /* <label> */
      display: inline-block;
      margin: 0px auto;
      padding: 15px 0px;
      font-size: 1.2em;
      color: white
    }

    .cart__list--item--dollarSign, .cart__list--item--price { /* <span> */
      float: right;
      color: white;
      margin: 17px 15px 15px 0px;
    }
        .cart__list--item--dollarSign:after { /* <span> */
          clear: right;
        }
        .cart__list--item--price:after { /* <span> */
          clear: right;
        }
        .cart__list--item--dollarSign { /* <span> */
          margin-right: 0px;
        }

    .cart__list--item--basePrice { /* <span> */
      visibility: hidden;
    }

.cart__footer { /* <footer> */
  position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;

  height: $sidebar__footer__height;

  background-color: grey;

  border-top: 1px solid black;
}
    .cart__total-cost { /* <input> */ 
      height: 40px;
      width: 100%;
      text-align: center;
      border: 0px;
      background-color: #ececec;
      color: black
    }
    #cart__total-cost {
      background-color: #3e2d24;
      color: white;
    }
    .cart__submit-button { /* <button> */
      cursor: pointer;
      height: 50px;
      width: 100%;
      background-color: #1b1b1b;
      color: white;
      border: 0px;
      border-top: 1px solid black;
    }

    .cart__submit-button:focus { /* <button> */
      outline: none;
    }