.menu-item { /* <li> */
  cursor: pointer;
  position: relative;
  height: 200px;
  width: 200px;

  float: left;

  background-color: grey;
}

.menu-item:hover { /* <li> */
  background-color: blue;
}