.menu-item { /* <li> */
  overflow: hidden;
  cursor: pointer;
  position: relative;
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
}

.menu-item__image { /* <image> */
  position: absolute;
    right: 0px;
  height: 100%;
  
}

.menu-item__name--container, .menu-item__price--container {
  position: absolute;
  width: 100%;
  height: $menu-item--header;

   background:rgba(0,0,0,0.8);
}

.menu-item__name--container {
  top: 0px;
}

.menu-item__price--container {
  visibility: hidden;
  bottom: 0px;
}

.menu-item__name, .menu-item__price--container span { /* <h2> / <span> */
  color: white;
  line-height: $menu-item--header;
}
