.container { /* <main> */
  height: 100%;
  width: 100%;

  margin-top: $navbar__height;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

.cart__list--item--quantity::-webkit-inner-spin-button, 
.cart__list--item--quantity::-webkit-outer-spin-button {
  position: absolute;
    right: 0px;
    top: 6px;
  opacity: 1;
  cursor: pointer;
}

.show--block {
  display: block !important;
}
.visability--hidden {
  display: none;
}
.show--visability {
  visibility: visible !important;
}
.width--100 {
  width: 100% !important;
}