.sidebar { /* <div> */
  position: fixed;
    top: $navbar__height;
    right: 0px;
    bottom: 0px;

  width: 38%;

  border-left: 1px solid black;
}

.cart { /* <section> */
  position: absolute;
    top: 0px;
    right: 0px;
    bottom: $sidebar__footer__height;
    left: 0px;
}

.cart__list { /* <ol> */
  margin: 0px;
  padding: 0px;
}

    .cart__list--item { /* <li> */
      height: 50px;
      padding: 0px;
      border: 0px;
      border-bottom: 1px solid black;
    }

    .cart__list--item:hover {
      background-color: red;
    }

    .cart__list--item fieldset { /* <fieldset> */
      height: 100%;
      width: 100%;
      padding: 0px;
      margin: 0px;
      border: 0px;
    }

    .cart__list--item--name { /* <label> */
      float: left;
      margin: 0px auto;
      padding: 15px;
    }

    .cart__list--item--quantity { /* <input> */
      float: right;
      height: 25px;
      margin: 12px 15px;
      padding: 0px 10px;
      width: 40px;
      border: 1px solid black;
    }
      .cart__list--item--quantity:focus { /* <input> */
        outline: none;
      }

    .cart__list--item--dollarSign { /* <span> */
      display: block;
      float: right;

      margin: 17px 15px 15px 0px;
    }

    .cart__list--item--price { /* <span> */
      display: block;
      float: right;
    }

    .cart__list--item--basePrice { /* <span> */
      visibility: hidden;
    }

.cart__footer { /* <footer> */
  position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;

  height: $sidebar__footer__height;

  background-color: grey;

  border-top: 1px solid black;
}
    .cart__total-cost { /* <input> */ 
      height: 40px;
      width: 100%;
      text-align: center;
      border: 0px;
    }
    .cart__submit-button { /* <button> */
      cursor: pointer;
      height: 50px;
      width: 100%;
      background-color: none;
      border-top: 1px solid black;
    }

