

.container{



  .chit_container{
    border-color: black;
    border-style:solid;
    background-color: blue;
    margin: auto auto;
    height: 500px;

  }
  .order_chit{

    border-color: black;
    border-style:solid;
    float: left;
    margin: 10px 10px 10px 10px;
    background-color:grey;
  }

}