<!DOCTYPE html>
<html lang="en">
  <%- include ../_partials/_head.ejs %>
<body>
  <%- include ../_partials/_navbar.ejs %>

  <%- include ../_partials/_sidebar.ejs %>
  <main class="customers__container">
    <div class="customers__background-transparency">
      <section class="menu-list__container">
        <ul class="menu-list">
          <% menuList.forEach((item) => { %>
            <%- include ../_partials/_menu-item.ejs %>
            <% console.log(item) %>
          <% }); %>
        </ul>
      </section>
    </div>
  </main>
  <div id="submission-window--background"></div>
  <div id="submission-window" class="submission-window">
    <form id="cart__submission__form">
      <section class="submission-window__cart">
        <ul class="cart__list"></ul>
      </section>
      <footer class="submission-window__cart__footer">
        <input class="cart__total-cost submission-window__total-cost" type="disabled" readonly="readonly" value="Total: $0"></input>
        <input class="submission-window__name" placeholder="Enter your name:" onfocus="this.placeholder=''" onblur="this.placeholder='Enter your name:'" required></input>
        <input class="submission-window__phone-number" type="number" placeholder="Enter your phone number:" onfocus="this.placeholder=''" onblur="this.placeholder='Enter your phone number:'" required></input>
        <button class="cart__submit-button" type="submit">Place Order</button>
      </footer>
    </form>
  </div>
  <footer></footer>

  <script src="./javascripts/bundle.js"></script>
</body>
</html>