<!DOCTYPE html>
<html lang="en">
  <%- include ../_partials/_head.ejs %>
<body>
  <%- include ../_partials/_navbar.ejs %>
  
  <%- include ../_partials/_sidebar.ejs %>
  <main class="customers__container">
    <ul class="menu-list">
      <%- include ../_partials/_menu-item.ejs %>
    </ul>
  </main>
  <footer></footer>
  <script src="./javascripts/bundle.js"></script>
</body>
</html>