

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Ordr</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/restaurant.css">
    <!-- <script type="text/javascript" src=".../public/javascripts/restaurant.js"></script> -->


  </head>
<body>

  <main class="container">
  <div class="chit_container">
      <%let order_id;%>
      <%let customer_name;%>
      <%let dishes;%>
      <%let order_date;%>

      <% for(var order of dbData) {%>
      <%  order_id      = order.id;%>
      <%  customer_name = order.customer_name;%>
      <%  dishes        = order.dishes;%>
      <%  order_date    = order.order_date;%>

    <div class="order_chit">
       <header>
        <button class="remove_chit" type="button">Remove</button>
        <h2>Order <%=order_id%></h2>
        <h4><%=order_date%></h4>
       </header>
       <div>
         <ul>
           <%for(let key in dishes) {%>
              <li>
                <span id = "dish_name"><%=key%></span>
                <span id = "dish_quantity"><%=dishes[key]%></span>
              </li>
           <%}%>
         </ul>
       </div>
    </div>
  <%}%>

</div>
  </main>
  <footer>

  </footer>

      <script type="text/javascript">
        import $ from "jquery";

      $(function(){


        alert('document ready!');

        $(".remove_chit").on('click' ,function(event) {
          alert('button clicked');
          console.log("shittt");
        });

      });
  </script>
  <script src="./javascripts/bundle.js"></script>

</body>
</html>



